.header-box-main
  .left-small-box
    = link_to "Empress", "/", class: 'empress-box'
  .right-small-box
    - if user_signed_in?
      .current_user-image
        = image_tag  current_user.image ,height: '70px', width: '70px',class: 'image-icon-header'
      .current-user-box
        = current_user.nickname
      .Mypage-box
        = link_to "Mypage", "/users/#{current_user.id}" , class:"color-small-box"
      .log-out-box
        = link_to "ログアウト", destroy_user_session_path, method: :delete ,class:"color-small-box"
      .post-box
        = link_to "投稿する", "/tweets/new", class:"color-small-box"
    - else
      .log-in-box
        = link_to "ログイン", new_user_session_path, class: 'color-small-box'
      .new-user-box
        = link_to "新規登録", new_user_registration_path,class: 'color-small-box'
